/* Equipment Labels and Overlays */
.animationControl {
  text-align: center;
}

.animationProgress {
  min-height: 100px;
  padding-left: 15px;
}

/* Make paragraphs inside animationProgress flex to keep label and value inline */
.animationProgress p {
  align-items: center;
  display: flex;
  gap: 5px;
}

/* Right-align the labels for consistency */
.animationProgress .infoLabel {
  flex: 0 0 100px;
  text-align: right;
}

/* Make infoState spans flex to hold progress bar inline with percentage */
.animationProgress .infoState {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
}

/* Animation Progress Bar */
.animationProgressBar {
  height: 26px;
  width: 70%;
}
